<h1>Listing Publishers</h1>
<!-- 
<label>
	Search :
	<input type="text" name="SearchBox" value="Enter search text">
</label>
<%= link_to 'search' , 'publishers/new' %> -->
<table border="1">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publishers.each do |publisher| %>
  <tr>
    <td><%= publisher.name %></td>
    <td><%= link_to 'Show', publisher %></td>
    <td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
    <td><%= link_to 'Destroy', publisher, method: :delete, data: { confirm: 'Are you sure, you want to delete this publisher.  If you delete this publisher will also delete the associated books?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New publisher', new_publisher_path , class: 'button'%>
<%= link_to 'Books' , books_path %>